    <nav>
            <ul>
                <li>
                    <a href="/feed">Home</a>
                </li>
                <li>
                    <a href="/create">Profile</a>
                </li>
                <li>
                    <a href="#home">Search</a>
                </li>
                
                 <li>
                    <a href="/login">Logout</a>
                </li>
                
            </ul>
        </nav>