{{!-- nothing here yet, but may need this partials stuff for the html generation --}}
 <nav>
            <ul>
                <li>
                    <a href="/feed">Home</a>
                </li>
                <li>
                    <a href="/create">Create an account</a>
                </li>
                <li>
                    <a href="/homePage">Profile</a>
                </li>
                
                 <li>
                    <a id = "logout" href="/login">Logout</a>
                </li>
                
            </ul>
        </nav>

      <script src="/assets/js/logout.js"></script>
