 <nav>
            <ul>
                <li>
                    <a href="/feed">Home</a>
                </li>
                <li>
                    <a href="/create">Create an account</a>
                </li>
              
                
                 <li>
                    <a href="/login">Login</a>
                </li>
                
            </ul>
        </nav>
     <script src="/assets/js/login.js"></script>