<div class="container center-align">
    <section class="row">
        <section class="section col-6">
            <div class="row">
                <h3>Create Account</h3>
            </div>
            <form class="signup-form">
                <div class="input-section">
                    <div class="row margin">
                        <div class="col-6">
                            <input class="input-box" id="first_name-signup" placeholder="First Name"></input>
                        </div>
                        <div class="col-6">
                            <input class="input-box" id="last_name-signup" placeholder="Last Name"></input>
                        </div>
                    </div>
                    <div class="row margin">
                        <input class="input-box" id="username-signup" placeholder="Username"></input>
                    </div>
                    <div class="row margin">
                        <input class="input-box" id="email-signup" placeholder="Email"></input>
                    </div>
                    <div class="row margin">
                        <input class="input-box" id="password-signup" placeholder="Password"></input>
                    </div>
                    <div class="row margin">
                        <button type='submit' class="btn">Create Account</button>
                    </div>
            </form>



            <div class="row split">
                <p>Have an account?</p>
            </div>

            <div class="row">
                <a class="btn green" href="/">Log In</a>
            </div>
</div>

<script src='/assets/js/signup.js'></script>