 <div class="col-8">
               
                    <div class="post-section centerText">
                        <div class="row">
                        <h3>What's poppin?</h3>
                        </div>
                <form class="new-post-form"> 
                        <div class="row margin">
                            <input id="post_title" cols="30" rows="5"placeholder="Brand new whip, just hopped in"></input>
                        </div>
                        <div class="row margin">
                            <input id="post_body" cols="30" rows="5"placeholder="I'm sorry"></input>
                        </div>
                    
                        <div class="row margin">
                            <button type='submit' class="btn">Post</button>
                            <br>
                        </div>
                    </div>
                </form>
                  <div class="post-section centerText">
                    <h4> Posts</h4>
                    <div class="post-section">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi eaque, itaque corrupti dolor est dolorem reiciendis nemo porro quam minus voluptate quae modi magni vitae nobis at ab, accusantium asperiores!
                    </p>
                </div>
                </div>

                    <script src="/assets/js/post.js"></script>