{{!-- login page html here --}}
   <div class="container max">
        <section class="row">
            <section class="section col-6">
                <div class="row">
                    <h3>Login</h3>
                </div>

 <form id="login-form">
                <div class="input-section">
                    <div class="row margin">
                        <input class="input-box" type = 'text' id='email-login' placeholder="Email"></input>
                    </div>
                    <div class="row margin">
                        <input class="input-box" type = 'password' id='password-login' placeholder="Password"></input>
                    </div>
                    <div class="row margin">
                        <button type='submit' class="btn">Log In</button>
                        <br>
                    </div>
                 
                    <div class="row split">
                        <p>Don't have an account?</p>
                    </div>

                    <div class="row">
                        <button type='submit' class="btn black" onclick="location.href='/create'">Create Account</button>
                    </div>
                </div>
</form>
            </section>
            <aside class="col-6 center">
                <div class="row">
                   
                    <p class="title">HEY FRIENDS</p>
                    
                </div>
                <div class="row">
                    <p class="paragraph">Connect to the World!</p>
                </div>
            </aside>
        </section>
    </div>

    <script src='/assets/js/login.js'></script>
    