<form action='/' method="POST" encType="multipart/form-data">
    <h3>Upload Profile Photo</h3>
    <input type='file' name='sampleFile' accept='image/*'/>
    <input type='submit' class='btn btn-primary'>
</form>


<div class = 'card'>
</div>

