 <container>
     <div class = "row">
         <div class = "col-2">
             
         </div>
<div class = "col-8 center">


     
 <div class="post_area">
                        
                        <div class="row ">
                                    <h3>About Me</h3>
                                </div>

                                
                                    <textarea  type="text" id="about_me" cols="30" rows="5"
                                        placeholder="{{user.about_me}}"></textarea>
                                


                        <div class="row ">
                                    <h3>Interests</h3>
                                </div>

                               
                                    <textarea type="text" id="interests" cols="30" rows="5"
                                        placeholder="{{user.interests}}"></textarea>
                                <br>
                         <button type='submit' class="btn">Update Interests</button>
                    </div>
                    </div>
                    </div>
</container>
                    <script src="/assets/js/update-info.js"></script>