:root {
    --darkblue: black;
    --blue: black;
    --lightblue: lightblue;
    --skyblue: #DEEAFC;
    --white: #FFFFFF;
    --black: #000000;
    --grey: #7E7E7E;
    --green: #42B72A;
}
body .green{
    background-color: white;
}
* {
    font-family: sans-serif;
    height: auto;
}

.max {
    height: 100vh;
}


.margin {
    margin-top: 15px;
    margin-bottom: 15px;
}

.header {
    
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;top: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /*background-position: 80%;*/
    z-index: 9999;
}
.header h1{
   color: var(--white);
    padding: 10px;
    font-weight: bolder;
    
}
.header nav ul {
    padding-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style:none;
    
}
.new-post-form{
    /* margin-top: 20%; */
}
header nav ul li a {
    color: var(--white);
    text-decoration: none;
    padding: 50px;
    padding-top: 10%;
    padding-bottom: 10%;
    font-weight:normal;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-right: 1px solid grey;
    
  }
  header nav ul li a:hover {
    color:var(--green);
   
    text-shadow: none;
  }
  



.section {
    background-color: var(--lightblue);
    color: var(--white);
    padding: 15px;
}

.input-section {
    background-color: var(--skyblue);
    padding: 25px;

    
}
.about-section {
    background-color: var(--skyblue);
    padding: 25px;
   margin: 0%;
    border: 1px solid grey;
    
}
.userInfo{
    width: 100%;
    background-color: var(--lightblue);
    padding: none;
    margin-top: 2%;
    margin-bottom:1%;
    /* border: 1px solid grey; */
}
.orangeTitle{
    width: 100%;
    background-color:orange;
    padding: none;
    margin-top: 2%;
    margin-bottom:1%;
}
.about-me-form{
    margin:0%;
}
.row .prof-pic-section {
    
    padding: 5%;
    border-top: 5%;
    margin-top: 10%;
    padding-right:0%;
    background-color: lightblue;
    border: 1px solid grey;
    border: none;
    margin: none;
    padding-right: none;
}
/* .row{
    margin: 0%;
    
} */
.row .post_area{
  margin-right: 0%;
}


.heading{
    padding-left:0%;
    padding-right:0%;
}
.tabllee .contact:first-child{
    width: 30%;

}
.tabllee .some:first-child{
    width: 33%;

}
td {
    overflow-wrap: break-word;
    word-break: break-word;
}
select{
    margin: 0%;
    padding: 0%;
}
#song-selection{
    padding: 2%;
    
    margin-right: 0%;
}


.centerText {
    text-align: center;
}
.profPic{
    width: 50%;
    height: 50%;
   margin-left:25%;
    object-fit: cover;
    
}
.PT {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2%;
}
.posts{
    padding: 2%;
    border: 1px solid grey;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.postUl{
    list-style: none;
    padding-left: 0;
    padding-right: 4.5%;
    margin-left: 0%;
}

.about-section {
    background-color: var(--skyblue);
    padding: 25px;
    margin-top: 5%;
    border: 1px solid grey;
    
}

.post-section {
    background-color: var(--skyblue);
    padding: 25px;
    margin-top: 5%;
    /* border: 1px solid grey; */
    padding-bottom: 1%;
    list-style: none;
    
}
.centerText {
    text-align: center;
}


.input-box {
    width: 100%;
    padding:10px;
    border: 1px solid var(--grey);
    color: var(--grey);
}

.btn {
    background-color: var(--black);
    color:white;
    
}

.smlbtn{
    color: black;
    text-decoration: none;
}
.smlbtn a:hover{
    color: green;
}
main{
    background: white;
    color: black;
    padding: 6px 0px;
    font-size: 80%;
  }
  main .left,
  main .right{
    padding: 10px;
  }
.green {
    background-color: var(--green);
    width: 100%;
}
.black{
    background-color: black;
}
.table{
    width: 100%;
    border: 5px solid grey;
    padding: 0%;
    background-color: var(--lightblue);
    margin: none;
}
.heading{
    border: 1px solid grey;
    padding: none;
    background-color: var(--lightblue);
}
table{
    width: 100%;
    border: 1px solid grey;
    padding: 0%;
    margin: none;
}
tr{
    border: 1px solid grey;
    padding: 1%;
}
th{
    border: 1px solid grey;
    padding: 1%;
    background-color: var(--lightblue);
}
td{
    border: 1px solid grey;
    padding: 1%;
    background-color: var(--lightblue);
}

.red {
    background-color: var(--black);
    color:white;
    background-color: red;
}

.btn:hover {
    color: var(--white);
    opacity: 80%;
}

.split {
    color: var(--grey);
    border-top: 1px solid var(--grey);
    margin-top: 20px;
    padding: 10px;
    text-align: center;
}

.center {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.title {
    color: var(--black);
    font-size: 35px;
    font-weight: bolder;
}

.paragraph {
    color: var(--black);
    font-size: 25px;
}

.vcenter {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

}

.img {
    width:30%;
    height:30%;
    
    object-fit: cover;
    border-radius:50%;

}

ol {
    list-style-type: none;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.post_area {
    width: 100%;
    background-color: lightblue;
    padding: none;
    margin-top: 2%;
    margin-bottom:1%;
    border: 1px solid grey;
    
}
.update_area {
   
    width: 100%;
    background-color: lightblue;
    padding: none;
    margin-top: 2%;
    margin-bottom:1%;
    border: 1px solid grey;
    
}

.col-8 .center{
    margin: 0%;
    padding: 0%;
}

.post_section {
    padding: 1%;
    margin: 20px;
    background-color: var(--skyblue);
}
ol { padding-left: 0%; }
.post_username {
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    color: var(--black);
    border-bottom: 1px solid var(--grey);
}

.post_title {
    font-weight: bold;
    color: var(--black);
}

.post_body {
    color: var(--grey);
    text-align: center;
}
.aboutStuff{
margin-bottom: 10%;
}