:root {
    --darkblue: #2343A9;
    --blue: #2652D0;
    --lightblue: #6FA5F3;
    --skyblue: #DEEAFC;
    --white: #FFFFFF;
    --black: #000000;
    --grey: #7E7E7E;
    --green: #42B72A;
}

* {
    font-family: sans-serif;
    height: auto;
}

.max {
    height: 100vh;
}

.margin {
    margin-top: 15px;
    margin-bottom: 15px;
}

.header {
    
    background-color: var(--blue);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;top: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    backgrround-position: 80%;
    z-index: 9999;
}
.header h1{
   color: var(--white);
    padding: 10px;
    font-weight: bolder;
    
}
.header nav ul {
    padding-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style:none;
    
}
header nav ul li a {
    color: var(--white);
    text-decoration: none;
    padding: 50px;
    padding-top: 10%;
    padding-bottom: 10%;
    font-weight:normal;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-right: 1px solid grey;
    
  }
  header nav ul li a:hover {
    color:var(--green);
   
    text-shadow: none;
  }
  

.col-4{
    /* background-color: green;
    color:green; */
    
}
.col-8{
    /* background-color: blue;
    color:blue; */
}

.section {
    background-color: var(--lightblue);
    color: var(--white);
    padding: 15px;
}

.input-section {
    background-color: var(--skyblue);
    padding: 25px;
    
}
.about-section {
    background-color: var(--skyblue);
    padding: 25px;
    margin-top: 5%;
    border: 1px solid grey;
    
}
.prof-pic-section {
    background-color: var(--skyblue);
    padding: 25px;
    margin-top: 10%;
    border: 1px solid grey;
    
}
.post-section {
    background-color: var(--skyblue);
    padding: 25px;
    margin-top: 5%;
    border: 1px solid grey;
    
}
.centerText {
    text-align: center;
}
.profPic{
    width: 50%;
    height: 50%;
    object-fit: cover;
    
}
.input-box {
    width: 100%;
    padding:10px;
    border: 1px solid var(--grey);
    color: var(--grey);
}

.btn {
    background-color: var(--blue);
    color:white;
    width: 100%;
}
.smlbtn{
    color: black;
    text-decoration: none;
}
.smlbtn a:hover{
    color: green;
}

.green {
    background-color: var(--green);
}

.btn:hover {
    color: var(--white);
    opacity: 80%;
}

.split {
    color: var(--grey);
    border-top: 1px solid var(--grey);
    margin-top: 20px;
    padding: 10px;
    text-align: center;
}

.center {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.title {
    color: var(--blue);
    font-size: 35px;
    font-weight: bolder;
}

.paragraph {
    color: var(--black);
    font-size: 25px;
}

.vcenter {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.img {
    width:30%;
    height:30%;
    
    object-fit: cover;
    border-radius:50%;
}